@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Roboto:ital@1&display=swap');

* {
  font-family: 'Ephesis', cursive;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

.btn {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 50%;
}

.search-form {
  margin-right: 190px;
  margin-left: 450px;
}

.fontIcons {
  margin-left: 6px;
}

.search-text {
  border: none;
}

.search-text:hover {
  border: none;
}

.search-btn {
  border: none;
}

.card {
  width: 18rem;
  height: 50vh;
  border: none;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  background-color: white;
}

.card:hover {
  transform: scale(1.1);
}

.card-image {
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  background-color: #000;
  left: 0;
  top: 0;
}

/* REmove */

.rec-cont {
  margin-top: 120px;
  margin-bottom: 10px;
}

.card-container {
  border-radius: 220px;
  position: relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-out;
}

.card-container:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.img-container {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.img-container:hover {
  cursor: pointer;
}

.card-container:hover .img-container {
  transform: translateY(-100px);
}

.img-container > img {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.card-container:hover > .img-container > img {
  opacity: 0.5;
}

.social-media {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
}

.social-media > li {
  list-style: none;
}

.social-media > li > a {
  display: block;
  height: 49px;
  width: 48.5px;
  background-color: #fff;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.3s ease-out;
}

.card-container:hover > .social-media > li > a {
  transform: translateY(0);
  opacity: 1;
}

.social-media > li > a > .fa {
  font-size: 40px;
  line-height: 50px;
  margin-top: 5px;
  transition: transform 0.3s ease-out;
}

.social-media > li > a:hover > .fa {
  transform: rotateY(360deg);
}

.card-container:hover .social-media li:nth-child(1) a {
  transition-delay: 0s;
}

.card-container:hover .social-media li:nth-child(2) a {
  transition-delay: 0.1s;
}

.card-container:hover .social-media li:nth-child(3) a {
  transition-delay: 0.2s;
}

.card-container:hover .social-media li:nth-child(4) a {
  transition-delay: 0.3s;
}

.card-container:hover .social-media li:nth-child(5) a {
  transition-delay: 0.4s;
}

.user-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.user-info > h2 {
  padding: 0;
  margin: 10px 0;
}

.user-info > span {
  color: #262626;
  font-size: 16px;
}

.video-dope {
  width: 100%;
  border-radius: 20px;
}

.text-cont {
  margin-top: 160px;
}

.link {
  font-weight: 700px;
  text-decoration: none;
  font-style: italic;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
